option_settings:
  aws:elasticbeanstalk:application:environment:
    APPLICATION_ID : po-create-processor
    AUTO_REGISTER_SCHEMAS : false
    BOOTSTRAP_SERVERS : pkc-ldvj1.ap-southeast-2.aws.confluent.cloud:9092
    SASL_JAAS_CONFIG : org.apache.kafka.common.security.plain.PlainLoginModule required password="3nqwUxdwhCmBGq0rQRy93DwlImOYNTiDKSEbX9u3g4yUSkL2igmlN/3/NpMxfRBh" username="JNKFY6DQHN6QUKZT";
    SASL_MECHANISM : PLAIN
    SCHEMA_PASS : lc403CEL0cccE8foxJCNXFYSXS/i+/98zp+ZiuSMrgwa9BUNUZxMaOM5cokzk84a
    SCHEMA_REGISTRY_URL : https://psrc-epkz2.ap-southeast-2.aws.confluent.cloud
    SCHEMA_USER : PTY7F2YSGMAQL724
    SECURITY_PROTOCOL : SASL_SSL
    SSL_TRUSTSTORE_LOCATION : /etc/truststore/ccloud_truststore.jks
    SSL_TRUSTSTORE_PASSWORD : 123456
    SSL_TRUSTSTORE_TYPE : JKS
    PO_CREATE_INBOUND_JSON_TOPIC: sinsw-systems-in-purchase-order-create-json-woz
    PO_CREATE_INBOUND_SAP_AVRO_TOPIC: sinsw-systems-sap-in-purchase-order-create-avro
    PO_ERROR_TOPIC: po-error
    SUBJECT_PO_CREATE_INBOUND_JSON: sinsw-systems-in-purchase-order-create-json-value
    SUBJECT_PO_CREATE_INBOUND_SAP_AVRO: education.sinsw.sap.inbound.avro_schemas.CreatePurchaserOrder
    NEW_RELIC_APP_NAME: sinsw-po-create-processor-dev
    NEW_RELIC_LICENSE_KEY: c631e801e0faf1668bba7af753cc5115bdb8NRAL

