option_settings:
  aws:elasticbeanstalk:application:environment:
    APPLICATION_ID : po-create-processor
    AUTO_REGISTER_SCHEMAS : false
    BOOTSTRAP_SERVERS : pkc-ldvj1.ap-southeast-2.aws.confluent.cloud:9092
    SASL_JAAS_CONFIG : org.apache.kafka.common.security.plain.PlainLoginModule required password="HVkjjJ2z5/7zOiNyOul+KabL5ww7sT1GgJsglK7uzOKBmjsiZHy2KFqAQvVSRenK" username="E6OJAHELJ6LXYOR6";
    SASL_MECHANISM : PLAIN
    SCHEMA_PASS : sU7QSPGPrGc2BJfP4GzWzLGRKUfB4RwVp4Kj6jXUUbhkcmyk9sWdDI3l3U4OnWlp
    SCHEMA_REGISTRY_URL : https://psrc-3r6ym.ap-southeast-2.aws.confluent.cloud
    SCHEMA_USER : KEN44IO67STZRYLM
    SECURITY_PROTOCOL : SASL_SSL
    SSL_TRUSTSTORE_LOCATION : /etc/truststore/ccloud_truststore.jks
    SSL_TRUSTSTORE_PASSWORD : 123456
    SSL_TRUSTSTORE_TYPE : JKS
    PO_CREATE_INBOUND_JSON_TOPIC: sinsw-systems-in-purchase-order-create-json
    PO_CREATE_INBOUND_SAP_AVRO_TOPIC: sinsw-systems-sap-in-purchase-order-create-avro
    PO_ERROR_TOPIC: sinsw-systems-internal-error
    SUBJECT_PO_CREATE_INBOUND_JSON: sinsw-systems-in-purchase-order-create-json-value
    SUBJECT_PO_CREATE_INBOUND_SAP_AVRO: sinsw-systems-sap-in-purchase-order-create-avro-value
    NEW_RELIC_APP_NAME: sinsw-po-create-processor-test
    NEW_RELIC_LICENSE_KEY: c631e801e0faf1668bba7af753cc5115bdb8NRAL

  aws:ec2:vpc:
    VPCId : vpc-0b6714c6311f4c94a
    Subnets : subnet-026a20950b6149a21,subnet-05f31a254f94b73f7,subnet-0fb59b45b3b022e9c
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-08fc4c5cf4d5b1b63
